{% extends "base/base.html" %}

{% block title %}{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<!-- Data : <h1 class="text-primary">{{context.description}}</h1> -->
<h3>About</h3>
<hr>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ea nulla impedit inventore ex, iure quos delectus
possimus. Quod, nostrum quis! Accusamus neque consequuntur iste vel nihil porro voluptate culpa
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, mollitia error dolor quia quo placeat deserunt delectus impedit accusamus aspernatur?
<hr>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}