{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}


{% block title %} Add Article {% endblock title %}

{% block content %}
    <h3>Makale Olustur</h3>
    <hr>
    <form action="/addarticle" method="POST" class="form-group">
        {{render_field(form.title,class="form-control")}}
        {{render_field(form.content,class="form-control")}}
        <button type="submit" class="btn btn-danger">Makele Ekle</button>
    </form>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}