{% extends "base/base.html" %}

{% block title %} Articles {% endblock title %}

{% block content %}
    {% if articles %}
        <ul class="list-group">
            {% for article in articles %}
                <li class="list-group-item">{{article.title}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-danger">
            <strong>Not Articles Yet</strong>
        </div>
    {% endif %}
{% endblock content %}

{% block scripts %}
{% endblock scripts %}