{% extends "base/base.html" %}

{% block title %}Index Page{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<!-- Name : <b class="text-danger">{{context.name}}</b>
    Surname : <b class="text-danger">{{context.surname}}</b> -->
<div class="jumbotron text-center border rounded">
    <h3>Hello My Blog Page</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam dolorum, laudantium dolor blanditiis rerum est
        corrupti natus sapiente harum libero explicabo, accusantium dicta, odit ab quas praesentium ut sunt architecto.
    </p>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}