{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}


{% block title %} Update Article {% endblock title %}

{% block content %}
    <h3>Update Article</h3>
    <hr>
    <form method="POST" class="form-group">
        {{render_field(form.title,class="form-control")}}
        {{render_field(form.content,class="form-control")}}
        <button type="submit" class="btn btn-primary">Update Article</button>
    </form>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}